*{
    margin: 0;
    padding: 0;
    background-color: rgb(44, 41, 41);
}

h1{
    background-color: black;
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    opacity: 0.5;
}

.choice{
    height: 165px;
    width: 165px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 2rem;
    margin-top: 5rem;
    gap:5rem;
    color: antiquewhite;
}

#user-score, #comp-score{
    font-size: 5rem;
    color: bisque;
}

.msg-container {
    border: 2px solid #444;     /* Border with dark gray color */
    border-radius: 10px;        /* Rounded corners */
    padding: 15px 20px;         /* Space inside box */
    width: fit-content;         /* Box fits the content */
    margin: 20px auto;          /* Center it horizontally */
    /* background-color: #301717;  Light background */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); Soft shadow */
    font-family: Arial, sans-serif;
    text-align: center;
    transition: all 0.3s ease;
}

#msg {
    font-size: 40px;
    font-weight: 600;
    color: #a93015;
}